.login-form {
  width: 480px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}